<div class="page-content" ng-controller="ReplyCtrl">
    <div class="page-header">
        <h1>
            意见与反馈
        </h1>
    </div>

    <div class="col-xs-12">
        <alert ng-show="alert.isShow" type="alert.type" close="closeAlert()">{{alert.msg}}</alert>
    </div>

    <div class="col-sm-offset-3 col-sm-6">
        <div class="tips" style="text-align:center">
            感谢你使用开发服务！请告诉我们你的意见和建议，我们会参考你的反馈不断优化产品。<br>
        </div>

        <br>
        <textarea class="form-control limited" id="form-field-9" maxlength="200" style="height: 300px;resize: none"
                  ng-model="reply"></textarea>
        <br>

        <!--<div class="pull-right" style="margin:10px;color: white;" ng-bind="'已输入' + {{total}} + '/' + {{max}}">-->
        <!--</div>-->
        <button class="btn btn-primary pull-right" ng-click="submit()">提交</button>
    </div>
</div>

